h4 {
  text-align: center;
}

#root {
  font-family: Helvetica, sans-serif;
}

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#output {
  font-size: 1em;
}

form {
  width: 45%;
}

textarea {
  width: 90%;
  height: 80vh;
  overflow-y: scroll;
  font-size: 1em;
  color: gray;
  padding: 1em;
}

#right-side {
  width: 45%;
}

#output {
  width: 90%;
  background: aliceblue;
  padding: 1em;
  height: 80vh;
  overflow-y: scroll;
}
