h4,
header,
footer {
  text-align: center;
}

body {
  font-family: Helvetica, sans-serif;
}

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

form {
  width: 45%;
}

textarea {
  width: 90%;
  height: 80vh;
  overflow-y: scroll;
  font-size: 1em;
  color: gray;
  padding: 1em;
  font-family: "Courier New", Courier, monospace;
}

#right-side {
  width: 45%;
}

#preview {
  width: 90%;
  background: aliceblue;
  padding: 0 1em 1em;
  height: 80vh;
  overflow-y: scroll;
  text-align: left;
}

footer p {
  font-size: 1.25em;
}

footer p a {
  color: darkgray;
}

blockquote {
  border-left: 3px solid lightseagreen;
  padding-left: 2em;
}

pre {
  background: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
}

pre code {
  color: gray;
}

code {
  color: red;
}
